<header>
  <nav>
    <div class="logo">
      M. HATCHI
    </div>
    <div>
      <span class="material-icons menu"  (click)="getShowMenu()">
      </span>
    </div>
  </nav>

  <div class="nav_menu" [ngClass]="{'show': isShowMenu, 'fade':!isShowMenu}">
    <div >
      <span class="material-icons close" (click)="getShowMenu()">close</span>
    </div>

    <div class="portrait">
      <img src="../assets/admin/admin.jpg">
    </div>

    <ul>
      <li>Maison</li>
      <li>A&nbsp;propos</li>
      <li>Compétences</li>
      <li>Expériences</li>
      <li>Formation</li>
      <li>Réalisations</li>
    </ul>
    <div class="reseaux">
      <span class="material-icons close" (click)="getShowMenu()">close</span>
      <a href='https://www.linkedin.com/in/m-hatchi-bb4b49156/' title="Linkedin" target="_blank">
          <fa-icon class="linkedinin" [icon]="faLinkedinIn"></fa-icon>
      </a>
      <a href='https://github.com/objectifMH/pokemirroor' target="_blank" title="Github">
          <fa-icon class="github" [icon]="faGithub"></fa-icon>
      </a>
      <span class="material-icons close" (click)="getShowMenu()">close</span>
    </div>
  </div>
</header>

<main>



</main>

<footer>



</footer>