@import '../styles.scss';


#presentation, #competences, #experiences, #formations, #realisations {
    transition: .4s ease-in-out;
} 

header.opacity_true {
    opacity: 0.8 ;
    background: linear-gradient(150deg, $color_dark 0%, $color_light 100%);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);       
    .nav_menu {
        a, .search_material, li{     
            color: white !important;
        }
    }

    transition: 0.2s ease-in-out;
    &:hover {
        opacity: 1;
    }
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: transparent;

    nav {
        color: $color_text;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo, .menu, .close{
            color: $color_text;
            font-size: 2em;
            padding: 12px 6px;
            text-shadow: rgba(0,0,0,.75) 2px 2px;   
            cursor: pointer;
        }

        .logo {
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu, .close {
            font-weight: bold;
            font-size: 2.5em;

            transition: .3s ease-in-out;
            &:hover {
                transform: scale(1.12);
            }
        }

        .menu:before {
            content: 'menu';
        }

        .close:before {
            content: 'close';
        }

        .nav_menu {
            display: none;
        }
    }

    .nav_menu_mobile.fade {
        right: -100%;
     }

     .nav_menu_mobile.show {
        width: 60vw;
        right: 0;
     }

    .nav_menu_mobile {
        background: linear-gradient(150deg, $color_light, $color_dark );
        z-index: 1000;
        position: fixed;
        top: 0;
        width: 60vw;
        right: 0;
        box-shadow: 3px 4px 12px rgba(0,0,0,.75);
        transition: .5s ease-in-out;

        .close {
            font-size: 2.5em;
            color: $color_text;
            padding: 10px 20px;
            text-shadow: rgba(0,0,0,.75) 2px 2px;
            transition: 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                opacity: 1;
            }
        }

        .portrait {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 70px;
            transition: .3s ease-in-out;
            img {
                max-width: 100px;
                border-radius: 50%;
            }

            h2 {
                margin-top: 5px;
                font-weight: bolder;
                color: $color_text;
            }

            &:hover {
                transform: scale(1.2);
                h2 {
                    text-shadow: rgba(0, 0, 0, 0.75) 2px 2px;
                }
            }
        }

        ul {
            padding: 0px;
            list-style: none;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0px 0px 25px;
            
            li{
                color: $color_text;
                font-size: 1.6em;
                font-weight: 600;
                padding: 13px;
                margin: 2px;
                color: $color_text;
                opacity: 0.75;
                transition: 0.3s ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: scale(1.12);
                    color: $color_text;
                    opacity: 1;
                    text-shadow: rgba(0,0,0,.75) 1px 2px;
                }

                a {
                    color: $color_text;;
                }
            }
        }

        .reseaux {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-bottom: 30px;

            a {
                .linkedinin, .github {
                    font-size: 2em;
                    color: #363d48;
                    opacity: 0.8;
                    margin: 8px;  
                    transition: .3s ease-in-out;    
                }
                transition: .3s ease-in-out;
                &:hover {
                    transform: scale(1.2);
                    .linkedinin, .github {
                        color: $color_text;
                    }
                }
            }
        }
    }
}

main {
    min-height: 100%;
    background: $color_text;  

    .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 30px;
        background-image: linear-gradient(-360deg, #289bc22b, #279cc4a1), url(../assets/back_5.jpg);
        min-height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        letter-spacing: 1px;
        position: relative;

        .button {
            background-color: white;
            border: 2px solid #fafafa;
            padding: .45rem .85rem !important;
            color: #206894;
            line-height: 1;
            outline: none;
            cursor: pointer;
            transition: .3s;
            font-size: 1.1em;
            margin: 20px auto 0;
            z-index: 10;
            
            a {
                text-decoration: none;
                transition: .3s ease-in-out;
                display: flex;
                align-items: center;
                color: #216a98;
            }
    
            &:hover {
                background-color: transparent;
                color: $color_text;
                box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
    
                a {
                    color: $color_text;
                    transform: scale(1) !important;
                }
            }
        }

        .container_presentation {
            width: 100%;
            perspective: 1000px;
        }

        .presentation_portrait {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: auto;
            transform-style: preserve-3d;
            transition: .3s ease-in-out;
            perspective: 1000px;

            background: linear-gradient(150deg, #289bc273, #279cc4bd);
            border-radius: 11px;
            margin-bottom: 40px;
            padding: 30px 50px 7px 20px;    
            

            &:hover {
                background: rgba(241, 236, 236, 0.007);
                box-shadow: 3px 4px 12px rgba(0,0,0,.75);
                border: 4px solid white;
                border-radius: 15px;
            }

            .portrait_img {
                transition: 0.3s ease-in;
                perspective: 1000px;
            }
            .portrait {
                margin: 10px;
                order: 2;
     
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                img {
                    max-width: 180px;
                    border-radius: 50%;
                }
                .reseau {
                     margin-top: 20px;
                     display: flex;
                     flex-direction: row;
                     justify-content: center;
                     align-items: center;
                     a {
                         .linkedinin, .github {
                             font-size: 2em;
                             color: $color_light;
                             opacity: 0.8;
                             margin: 8px;  
                             transition: .3s ease-in-out;    
                         }
                         transition: .3s ease-in-out;
                         &:hover {
                             transform: scale(1.2);
                         }
                     }
                }   
             } 
     
            .presentation {
                order: 1;
                 h1 {
                     font-weight: 800;
                     color: $color_text;
                     font-size: 3em;
                     text-shadow: rgba(0,0,0,.75) 1px 1px;  
                     transition: 0.4s ease-in-out;
                    }
         
                 h2 {
                     font-weight: 600;
                     color: $color_text;
                     font-style: italic;
                     text-transform: uppercase;    
                     font-size: 2.4em;
                     text-shadow: rgba(0, 0, 0, 0.75) 1px 1px;
                     position: relative;
                     top: -10px;
                     transition: .3s ease-in-out;
                     line-height: 0.8;                 }

                 .full {
                    font-weight: 600;
                    color: #2578a9;
                     text-transform: uppercase;   
                     font-size: 2.6em;
                     text-shadow: rgba(0, 0, 0, 0.75) 3px 3px;
                     position: relative;
                     top: -10px;
                     transition: .5s ease-in-out; 
                     transform: scale(0);
                     display: inline-block;
                     
                 }

                 .stack {
                    font-weight: 600;
                    text-transform: uppercase;   
                    font-size: 2.6em;
                    margin-left: 35px;
                    margin-top: 15px;
                    text-shadow: rgba(0, 0, 0, 0.75) 3px 3px;
                    position: relative;
                    top: -10px;
                    transition: .5s ease-in-out; 
                    transform: scale(0);
                    font-style: italic;
                    text-transform: uppercase;   
                    color: $color_dark; 
                    display: inline-block;
                 }
            }
        }
        
        .infos_personnelles {
            order: 3;
            margin-top: 40px;
            width: 50%;
            border-radius: 11px;
            padding: 15px 35px;
            position: relative;
            overflow: hidden;

            // animations 

        .circle {
            width: 100px;
            height: 100px;
            background: linear-gradient(10deg, transparent 5% , $color_dark);
            position: absolute;
            animation: 20s slideDown infinite;
            

            &.un {
                width: 60px;
                height: 50px;
                top: 48px;
                transform: rotate(162deg);
                animation-delay: 5s;
                border-radius: 50%;
            }

            &.deux {
                width: 40px;
                height: 40px;
                top: 252px;
                right: 39px;
                transform: rotate(21deg);
                animation-delay: 10s;
                border-radius: 50%;
            }


            &.trois {
                width: 90px;
                height: 90px;
                right: 179px;
                transform: rotate(321deg);
                animation-delay: 15s;
                border-radius: 50%;
            }

        }

        // fin animations 

            .container_infos_personnelles {
                display: flex;
                flex-direction: column;
                font-size: 1.2em;
                color: white;
                padding: 25px 0px 30px;

                h4 {
                    font-size: x-large;
                    line-height: 1.2em;
                    letter-spacing: 0.5px;
                    z-index: 10;
                }
        
                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    padding: 15px 5px;
                    
                }
            }
        }
    }
  
    .headline_section {
        padding: 80px 0px 40px;
        font-family: Poppins,sans-serif;

        .container_headline_section p {
            text-transform: uppercase;
            color: $color_dark;
            margin-bottom: 0;
            letter-spacing: .2em;
            font-weight: 700;
            font-size: 1.4em;
        }

        .container_headline_section h2 {
            font-size: 2rem;
            margin-bottom: .5rem;
            font-weight: 700;
            line-height: 1.3;
            color: #000;
            text-align: left;

            .material-icons {
                font-size: 0.9em;
                border-radius: 50%;
                //background: $color_dark;
                background: linear-gradient(150deg, $color_light, $color_dark );

                color: $color_text;
                padding: 5px;
            }
        }  
        
        .container_competences {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 50px;
            margin-bottom: 30px;
            
            transform-style: preserve-3d;
            perspective: 1000px;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
                border-radius: 4px;
                padding: 20px;
                margin: 35px;
                transition: .3s ease-in-out;
       
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 5em;
                    color: #206895;
                    padding: 30px;
                    transition: 0.5s;
                }

                p {
                    font-size: 1.4em;
                    font-weight: bolder;
                    color: #206895;
                    text-align: center;
                }

                &:hover {
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
                    background-color: #289cc3;
                    //margin: 1   0px 10px 0px 10px;
                    span { 
                        color: #fff;
                        border-radius: 50%;
                        transform: translateY(-65%) rotate(180deg);
                        background-color: #289cc3;
                        position: relative;
                        border: 7px solid white;
                        font-size: 3.5em;
                    }
                    p {
                        color: white;
                    }

                }
            }           
        }


        .container_front, .container_back, .container_bdd {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            margin: 50px 0;

            .item_competence {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 5px;
                
                //box-shadow: 2px 3px 10px rgba(0,0,0,.25);
                border-radius: 4px;
                opacity: .8;
                width: 120px; //140px;
                height: 120px;//140px;

                display: flex;
                justify-content: center;
                align-items: center;

                transition: .3s ease-in-out;
                    
                    &:hover {
                        transform: scale(1.15);
                        //box-shadow: 4px 6px 12px rgba(0,0,0,.75);

                        .titre {
                            height: 70%;
                            width: 100%;
                            font-size: 1.8em;
                            font-weight: bold;
                            //background: linear-gradient(150deg, $color_light, $color_dark );
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            opacity: 0.9;
                            bottom: 0;
                            color: $color_text;
                            padding-top: 10px;
                            box-shadow: 2px 3px 10px rgba(0,0,0,.75);
                            text-shadow: 1px 1px 1px black;
                            display: none;
                        }

                        .titre.php_post {
                            font-size: 1.3em;
                        }

                        img { 
                            width: 100%;
                            padding: 3px;  
                            filter: grayscale(0);                
                        }
                    }
                
                img { 
                    width: 100%;
                    padding: 3px;  
                    filter: grayscale(1);                
                }

                .titre {
                    position: absolute;
                    margin: auto;
                    opacity: 0;
                    transition: 0.3s ease-in-out;
                    bottom: -40%;
                    display: none;
                }

                .java {
                    //padding: 12px 36px;
                    padding: 0 20px;
                }

                .css {
                    padding: 0px 16px !important;
                }
            }

            .item_competence_java {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 5px;            
                border-radius: 4px;
                opacity: .8;
                width: 100px; //140px;
                height: 100px;//140px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .3s ease-in-out;

                .java {
                    width: 100%;
                    padding: 0 20px;
                    filter: grayscale(1); 
                }

                p {display: none;

                }

                &:hover {
                    transform: scale(1.1);
                    .java {  
                        filter: grayscale(0); 
                    }
                }
            }
        }

        .container_formations {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 50px 0;

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                border-radius: 4px;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
                margin: 10px;

                img {
                    height: 120px;
                    padding: 10px !important;
                }

                p {
                    font-size: 1.4em;
                    padding: 20px 10px;
                    text-align: center;
                }

                span {
                    font-size: 1em;
                    color: white;
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
                    padding: 5px 15px;
                    width: 100%;
                    text-align: center;
                }
            }
        }

        .container_publication {
            margin-top: 25px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 50px;

            span {
                letter-spacing: 1px;
                z-index: 10;
            }

            p {
                color: $color_text;
                font-size: 1.6em;
                z-index: 10;

            }       
        
            .titre {
                color: black;
                font-size: 1.4em;
                font-weight: bolder;
                line-height: 1.4em;
                z-index: 10;

            }

            .auteurs {
                color: $color_dark;
                font-size: 1.2em;
                z-index: 10;

            }
        
            .savoir_plus_publication_container {
                display: flex;
                justify-content: flex-end;
                margin: 10px;
                z-index: 10;


                .button {
                    background-color: white;
                    border: 2px solid #fafafa;
                    font-size: 1.1rem;
                    color: #206894;
                    line-height: 1;
                    outline: none;
                    cursor: pointer;
                    transition: .3s;
                    margin-top: 10px;
                    z-index: 10;

                    a {
                        text-decoration: none;
                        transition: .3s ease-in-out;
                        display: flex;
                        align-items: center;
                        color: #279cc4;
                    }
            
                    &:hover {
                        background-color: transparent;
                        color: $color_text;
                        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
            
                        a {
                            color: $color_text;
                        }
                    }
                }

                
            }

            
        }

        .container_realisations {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 50px 0 0;

            .realisation {
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.45);
                border-radius: 4px;
                padding: 10px;
                margin: 10px;
                background: linear-gradient(150deg, #1e5d86 , #279cc4 );;


                h4 {
                    text-transform: uppercase;
                    color: $color_text;
                    margin-bottom: 20px;
                    letter-spacing: .2em;
                    font-weight: 700;
                    font-size: 1.6em;
                }

                .img_container {
                    
                    overflow: hidden;
                    border-radius: 5px;

                    img {
                        width: 100%;
                        transition: .5s;
                        &:hover {
                            transform: scale(1.15) rotate(2deg);
                        }
                    }
                }          

                p {
                    color: $color_text;
                    font-size: 1.4em;
                    margin-top: 20px;

                    span.badge-success {
                        margin: 2px;
                        background: rgba(0, 0, 0, 0.2);
                    }
                }
                .savoir_plus_realisation_container {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;

                    .savoir_plus_realisation {
                        color: $color_text;
                        background: $color_dark;
        
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $color_text;
                        }
                    }

                    .button {
                        background-color: white;
                        border: 2px solid #fafafa;
                        font-size: 1.1rem;
                        color: #206894;
                        line-height: 1;
                        outline: none;
                        cursor: pointer;
                        transition: .3s;
                        margin-top: 10px;
                        a {
                            text-decoration: none;
                            transition: .3s ease-in-out;
                            display: flex;
                            align-items: center;
                            color: #2590b8;
                        }
                
                        &:hover {
                            background-color: transparent;
                            color: $color_text;
                            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
                
                            a {
                                color: $color_text;
                            }
                        }
                    }
                }
            }
        }

        .container_contact {
            margin-top: 50px;
            .infos_personnelles {
                margin-top: 40px;
                p {
                    letter-spacing: 1px;
                }
        
                .container_infos_personnelles {
                    display: flex;
                    flex-direction: column;
                    font-size: 1.2em;
                    color: $color_text;
                    padding: 15px 0px 30px;
            
                    
                }

                    font-family: "Poppins", sans-serif;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    padding: 2rem;
                    overflow: hidden;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .form {
                        width: 100%;
                        background: white;
                        border-radius: 10px;
                        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.6);
                        overflow: hidden;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                    }

                    .contact-info {
                        padding: 2.3rem 2.2rem 2.8rem;
                            overflow: hidden;
                            position: relative;
                            background: #1e5d86;
                            color: $color_text;

                            .carre {
                                width: 100px;
                                height: 100px;
                                background: linear-gradient(1deg, transparent 10% , $color_light);
                                position: absolute;
                                
        
                                &.un {
                                    width: 60px;
                                    height: 50px;
                                    top: 298px;
                                    transform: rotate(162deg);
                                    background-color: red;
                                    animation-delay: 3s;
                                    animation: slideDownContact1 25s infinite;
                                }
        
                                &.deux {
                                    width: 40px;
                                    height: 40px;
                                    top: 252px;
                                    right: 39px;
                                    transform: rotate(21deg);
                                    background: green;
                                    animation-delay: 12s;
                                    animation: slideDownContact2 25s infinite;
                                }
                            }
                        
                        .titre {
                            color: $color_text;
                            font-weight: 500;
                            font-size: 1.5rem;
                            line-height: 1;
                            margin-bottom: 0.7rem;
                        }

                        .info_container {
                            margin-top: 40px;
                            div {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                padding: 15px 5px;
                    
                                span {
                                    border-radius: 50%;
                                    color: $color_light;
                                    background: $color_text;
                                    font-size: 1.6em;
                                    padding: 5px;
                                }
                    
                                p {
                                    width: 190px;
                                    font-size: 1rem;
                                    letter-spacing: 0.9px;
                                    margin: 0 0 0 30px;
                                }
                
                                a {
                                    transition: .3s ease-in-out;
                                    &:hover {
                                        opacity: 1;
                                        transform: scale(1.2);
                                    }
                                }      
                            }
                        } 
                        
                        .reseaux_contact {
                            width: 150px;
                            margin: auto;
                            margin-top: 50px;
                            display: flex;
                            justify-content: center;

                            a {
                                transition: .3s ease-in-out;
                                .linkedinin, .github {
                                    font-size: 2em;
                                    color: #363d48;
                                    opacity: 0.9;
                                    margin: 8px;  
                                    transition: .3s ease-in-out;  
                                }

                                &:hover {
                                    transform: scale(1.15);
                                    .linkedinin, .github {
                                        color: black;
                                    }
                                }
                            }   
                        }
                    }

                    .contact-form {
                        position: relative;
                        background: #206894;

                        &:before {
                            content:"";
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            background-color: #206894;
                            top: 50px;
                            left: -14px;
                            transform: rotate(45deg);
                        }

                        .circle {
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            background: linear-gradient(121deg, transparent 20% , $color_light);
                            position: absolute;
    
                            &.un {
                                width: 130px;
                                height: 130px;
                                top: 130px;
                                right: -40px;
                                animation-delay: 2s;
                                animation: slideDownContact2 25s infinite;
                                
                            }
    
                            &.deux {
                                width: 80px;
                                height: 80px;
                                top: 282px;
                                right: 217px;
                                animation-delay: 8s;
                                animation: slideDownContact1 15s infinite;
                        
                            }

                            &.trois {
                                width: 90px;
                                height: 90px;
                                top: 82px;
                                right: 174px;
                                animation-delay: 12s;
                                animation: slideDownContact2 25s infinite;
                                
                            }

                            &.quatre {
                                width: 290px;
                                height: 290px;
                                top: 82px;
                                right: 174px;
                                animation-delay: 18s;
                                animation: slideDownContact1 20s infinite;
                                
                            }
    
                        }

                        form {
                            padding: 2.3rem 2.2rem 3.5rem;
                            z-index: 10;
                            overflow: hidden;
                            position: relative;

                            .titre {
                                color: $color_text;
                                font-weight: 500;
                                font-size: 1.5rem;
                                line-height: 1;
                                margin-bottom: 0.7rem;
                                padding-bottom: 30px;
                            }

                            .form-group {
                                position: relative;
                                margin: 1rem 0;

                                span {
                                    position: absolute;
                                    color: #fafafa;
                                    top: 0;
                                    left: 25px;
                                    transform: translateY(-50%);
                                    font-size: 0.8rem;
                                    padding: 0 0.4rem;
                                    color: transparent;
                                    pointer-events: none;
                                    z-index: 500;
                                   //background: green;

                                    &:before, &:after {
                                        content: "";
                                        position: absolute;
                                        width: 10%;
                                        opacity: 0;
                                        height: 5px;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        background: #206894;
                                        transition: 0.3s;

                                    }

                                    &:before {
                                        left: 50%;

                                    }

                                    &:after {
                                        right: 50%;
                                    }
                                }
                            }

                            .form-group.focus {
                                
                                label {  
                                    top:0;
                                    transform: translateY(-50%);
                                    left: 25px;
                                    font-size: 0.8rem;
                                }  
                                
                                span:before, span:after {
                                    width: 50%;
                                    opacity: 1;
                                }
                            }

                            label {
                                position: absolute;
                                top: 50%;
                                left: 15px;
                                transform: translateY(-50%);
                                padding: 0 0.4rem;
                                color: #fafafa;
                                font-size: 0.9rem;
                                font-weight: 400;
                                pointer-events: none;
                                z-index: 1000;
                                transition: 0.5s;
                            }

                            input, textarea {
                                width: 100%;
                                outline: none;
                                border: 2px solid #fafafa;
                                background: none;
                                padding: 0.6rem 1.2rem;
                                color: $color_text;
                                font-weight: 500;
                                font-weight: 0.95rem;
                                letter-spacing: 0.5px;
                                border-radius: 25px;
                                transition: 0.3s;
                            }

                            textarea {
                                padding: 0.8rem 1.2rem;
                                min-height: 150px;
                                border-radius: 22px;
                                resize: none;
                                overflow-y: auto;

                            }

                            .label_textarea {
                                color: #fafafa;
                                top: 1rem;
                                transform: translateY(0);
                            }

                            button {
                                padding: 0.6rem 1.3rem;
                                background-color: $color_text;
                                border: 2px solid #fafafa;
                                font-size: 0.95rem;
                                color:  #206894;
                                line-height: 1;
                                outline: none;
                                cursor: pointer;
                                transition: .3s;
                                position: absolute;
                                right: 37px;

                                &:hover {
                                    background-color: transparent;
                                    color: $color_text;
                                }
                            }
                        }
                    }
            }

            .form-control.ng-dirty.ng-invalid.ng-touched
            {
                border: red 2px solid;
            }

            .errorForm {
                border: red 3px solid !important;
            }
        }
    } 
}

#publication {
    position: relative;
    overflow: hidden;
    .circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: linear-gradient(121deg, transparent 20% , $color_light);
        position: absolute;

        &.un {
            width: 130px;
            height: 130px;
            top: 130px;
            right: -40px;
            animation-delay: 2s;
            animation: slideDownContact2 25s infinite;
            
        }

        &.deux {
            width: 80px;
            height: 80px;
            top: 10px;
            right: 217px;
            animation-delay: 8s;
            animation: slideDownContact1 15s infinite;
    
        }

        &.trois {
            width: 90px;
            height: 90px;
            top: 82px;
            right: 174px;
            animation-delay: 12s;
            animation: slideDownContact2 25s infinite;
            
        }

        &.quatre {
            width: 290px;
            height: 290px;
            top: 82px;
            left: 14px;
            animation-delay: 18s;
            animation: slideDownContact1 20s infinite;
            
        }
     }
}

#realisations {
    padding: 80px 0px 0px !important;
}


footer {
    background: $color_dark;
    color: $color_text;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    font-size: larger;
    padding: 5px;

    .nav_footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: $color_text;
        margin-top: 40px;
        width: 80%;

        .portrait {
            transition: 0.4s ease-in-out;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: $color_text;
            }

            img {
                width: 80px;
                border-radius: 50%;
            }

            &:hover {
                transform: scale(1.1);
                a {
                    text-shadow: rgba(0,0,0,.75) 2px 2px;
                }
            }
        }

        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;
            list-style: none;

            a {
                color: $color_text;
            }

            li {
                margin: 5px;
                transition: 0.4s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                    text-shadow: rgba(0,0,0,.75) 2px 2px;
                }
            }
        }
    }

    span {
        font-size: small;
    }
}



@media screen and (max-height: 460px) and (min-width: 560px) {
    
    main {
        //background: red;
    }
    .nav_menu_mobile {
        background: linear-gradient(150deg, green, #1e5d86) !important;
        width: 90vw !important;

        h2 {
            font-size: 1.2em !important;
        }
        img {
            width: 70px !important;
        }

        ul {
            flex-direction: row !important;

            li {
                font-size: 1em !important;
            }
        }
    }
}

@media screen and (max-width: 420px) {

    main  .headline_section .container_contact .infos_personnelles  {
        .contact-info {
            padding: 2.5em 1.8em;

            p {
                margin: 0 0 0 10px !important;
            }
        }

        .contact-form form {
            padding: 2.5em 1.8em 60px;
        }
    }
}

@media screen and (min-width: 600px) {
    main { 
        .presentation_portrait {
            width: 50% !important;;
        }
        .container_competences {
            flex-direction: row !important;
            div {
                margin: 10px !important;
            }                
        } 

        .container_formations {
            div {
                flex-direction: row !important;
                position: relative;
                margin: 15px !important;
                img {
                    padding: 4px;
                }

                p {
                    text-align: left !important;
                }

                span {
                    right: 14px;
                    bottom: -11px;
                    position: absolute;
                    width: auto !important;
                }
            }
        }
    } 

    footer {
        background: $color_dark;
        color: $color_text;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
        font-size: larger;
    
        .nav_footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $color_text;
            width: 80%;
    
            .portrait {
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    color: $color_text;
                }
    
                img {
                    width: 60px;
                    border-radius: 50%;
                }
            }
    
            ul {
                flex-direction: row; 
            }
        }
    }
}

@media screen and (max-width: 761px) {

    main .introduction .infos_personnelles {
        width: 100% !important;
        h4 {
            font-size: 1.2em !important;
        }
    }

    main .headline_section .container_publication span {
        letter-spacing: 0px;
    }

    .container_contact {
        .infos_personnelles {
            .form {
                grid-template-columns: 1fr !important;
            }
        }
    }
}

@media screen and (min-width: 875px) {
    main {
        .introduction {
        
            flex-direction: column !important;
            padding-top: 180px;
            padding-bottom: 80px;

            .presentation_portrait {
                display: flex;
                flex-direction: row;
                margin-bottom: 40px;
                
                .presentation {
                    order: 1;
                    margin: auto;
                    h1 {
                        font-weight: 800;
                        font-size: 4em;
                        text-shadow: rgba(0,0,0,.75) 1px 1px;  
                    }
            
                    h2 {
                        font-weight: 600;
                        font-size: 3.6em;
                        text-shadow: rgba(0,0,0,.75) 1px 1px;  
                        position: initial;
                    }

                    span {
                        position: absolute;
                        bottom: -1em;
                        font-size: 1.4em;
                        color: $color_text;            
                    }
                }
            }            
        } 
        
        .infos_personnelles {

        }  

        .container_realisations {
            display: flex;
            flex-direction: row !important;
            .realisation {
                //width: 100%; //30%;
            }
        } 
    }
}

@media screen and (min-width: 1064px) {
    header {
        nav {
            .menu {
                display: none;
            }

            .logo {
                margin: 0px 0px 0px 15px;
            }

            .nav_menu {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                list-style: none;
                padding: 0;
                margin: 0 15px;

                li {
                    color: $color_text;
                    font-size: 1.4em;
                    font-weight: 800;
                    padding: 13px;
                    margin: 2px;
                    color: $color_text;
                    opacity: 0.75;
                    transition: 0.3s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.12);
                        color: $color_text;
                        opacity: 1;
                    }

                    a {
                        color: $color_text;
                    }
                }

                li.portrait {
                    opacity: 1 !important;
                    img {
                        max-height: 45px;
                        border-radius: 50%;
                    } 
                }
            }
        }
    } 

    main {
    }
}

// Animations 

@keyframes slideDown {
    from {
        background: linear-gradient(1deg, transparent 30% , $color_dark);
        transform: translateY(200px);

    }
    
    to {
        background: linear-gradient(1deg, transparent 5% , $color_dark);
        transform: translateY(-150px);
    }
}

@keyframes slideDownContact1 {
    from {
        background: linear-gradient(1deg, transparent 30% , $color_dark);
        transform: translateY(300px);

    }
    
    to {
        background: linear-gradient(1deg, transparent 10% , $color_light);
        transform: translateY(0) rotate(162deg);
    }
}

@keyframes slideDownContact2 {
    from {
        background: linear-gradient(1deg, transparent 30% , $color_dark);
        transform: translateY(300px) ;

    }
    
    to {
        background: linear-gradient(1deg, transparent 10% , $color_light);
        transform: translateY(0) rotate(21deg);
    }
}