@import '../styles.scss';


#presentation, #competences, #experiences, #formations, #realisations {
    transition: .4s ease-in-out;
} 

header.opacity_true {
    opacity: 0.8 ;
    background: linear-gradient(150deg, $color_dark 0%, $color_light 100%);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);       
    .nav_menu {
        a, .search_material, li{     
            color: white !important;
        }
    }

    transition: 0.2s ease-in-out;
    &:hover {
        opacity: 1;
    }
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: transparent;

    nav {
        color: $color_text;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo, .menu, .close{
            color: $color_text;
            font-size: 2em;
            padding: 12px 6px;
            text-shadow: rgba(0,0,0,.75) 2px 2px;   
            cursor: pointer;
        }

        .logo {
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu, .close {
            font-weight: bold;
            font-size: 2.5em;

            transition: .3s ease-in-out;
            &:hover {
                transform: scale(1.12);
            }
        }

        .menu:before {
            content: 'menu';
        }

        .close:before {
            content: 'close';
        }

        .nav_menu {
            display: none;
        }
    }

    .nav_menu_mobile.fade {
        right: -100%;
     }

     .nav_menu_mobile.show {
        width: 60vw;
        right: 0;
     }

    .nav_menu_mobile {
        background: linear-gradient(150deg, $color_light, $color_dark );
        z-index: 1000;
        position: fixed;
        top: 0;
        width: 60vw;
        right: 0;
        box-shadow: 3px 4px 12px rgba(0,0,0,.75);
        transition: .5s ease-in-out;

        .close {
            font-size: 2.5em;
            color: $color_text;
            padding: 10px 20px;
            text-shadow: rgba(0,0,0,.75) 2px 2px;
            transition: 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                opacity: 1;
            }
        }

        .portrait {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 70px;
            transition: .3s ease-in-out;
            img {
                max-width: 100px;
                border-radius: 50%;
            }

            h2 {
                margin-top: 5px;
                font-weight: bolder;
                color: $color_text;
            }

            &:hover {
                transform: scale(1.2);
                h2 {
                    text-shadow: rgba(0, 0, 0, 0.75) 2px 2px;
                }
            }
        }

        ul {
            padding: 0px;
            list-style: none;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0px 0px 25px;
            
            li{
                color: $color_text;
                font-size: 1.6em;
                font-weight: 600;
                padding: 13px;
                margin: 2px;
                color: $color_text;
                opacity: 0.75;
                transition: 0.3s ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: scale(1.12);
                    color: $color_text;
                    opacity: 1;
                    text-shadow: rgba(0,0,0,.75) 1px 2px;
                }

                a {
                    color: $color_text;;
                }
            }
        }

        .reseaux {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-bottom: 30px;

            a {
                .linkedinin, .github {
                    font-size: 2em;
                    color: #363d48;
                    opacity: 0.8;
                    margin: 8px;  
                    transition: .3s ease-in-out;    
                }
                transition: .3s ease-in-out;
                &:hover {
                    transform: scale(1.2);
                    .linkedinin, .github {
                        color: $color_text;
                    }
                }
            }
        }
    }
}

main {
    min-height: 100%;
    background: $color_text;

    .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 30px;

        .presentation_portrait {
            display: flex;
            flex-direction: column;
            .portrait {
                margin: 10px;
                order: 2;
     
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                img {
                    max-width: 180px;
                    border-radius: 50%;
                    transition: .7s ease-in-out;
     
                    &:hover {
                         transform: rotateZ(360deg) rotateX(360deg) rotateY(-180deg) scaleX(1.2)  scaleY(1.2) scaleZ(1.2) ;
                         box-shadow: -8px 8px 12px rgba(0, 0, 0, 0.75);
                    }
                }
                .reseau {
                     margin-top: 20px;
                     display: flex;
                     flex-direction: row;
                     justify-content: center;
                     align-items: center;
                     a {
                         .linkedinin, .github {
                             font-size: 2em;
                             color: $color_light;
                             opacity: 0.8;
                             margin: 8px;  
                             transition: .3s ease-in-out;    
                         }
                         transition: .3s ease-in-out;
                         &:hover {
                             transform: scale(1.2);
                         }
                     }
                }   
             } 
     
             .presentation {
                order: 1;
                 h1 {
                     font-weight: 800;
                     color: $color_text;
                     font-size: 3.2em;
                     text-shadow: rgba(0,0,0,.75) 1px 1px;  
                 }
         
                 h2 {
                     font-weight: 600;
                     color: $color_text;
                     font-style: italic;
                     text-transform: uppercase;    
                     font-size: 2.8em;
                     text-shadow: rgba(0, 0, 0, 0.75) 1px 1px;
                     position: relative;
                     top: -10px;
                 }
             }
        }
        
        .infos_personnelles {
            order: 3;
            margin-top: 40px;

            .container_infos_personnelles {
                display: flex;
                flex-direction: column;
                font-size: 1.2em;
                color: $color_text;
                padding: 15px 0px 30px;
        
                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    padding: 15px 5px;
        
                    span {
                        border-radius: 50%;
                        color: $color_light;
                        background: $color_text;
                        font-size: 1.6em;
                        padding: 5px;
                    }
        
                    p {
                        width: 170px;
                    }

                    a {
                        .linkedinin, .github {
                            font-size: 2em;
                            color: black;
                            opacity: 0.9;
                            margin: 8px;  
                            transition: .3s ease-in-out;    
                        }
                        transition: .3s ease-in-out;
                        &:hover {
                            opacity: 1;
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
  
    .headline_section {
        padding: 80px 0px 40px;
        font-family: Poppins,sans-serif;

        .container_headline_section p {
            text-transform: uppercase;
            color: $color_dark;
            margin-bottom: 0;
            letter-spacing: .2em;
            font-weight: 700;
            font-size: 1.4em;
        }

        .container_headline_section h2 {
            font-size: 2rem;
            margin-bottom: .5rem;
            font-weight: 700;
            line-height: 1.3;
            color: #000;
            text-align: left;

            .material-icons {
                font-size: 0.9em;
                border-radius: 50%;
                //background: $color_dark;
                background: linear-gradient(150deg, $color_light, $color_dark );

                color: $color_text;
                padding: 5px;
            }
        }  
        
        .container_competences {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 30px;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
                border-radius: 4px;
                padding: 20px;
                margin: 10px;
                
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 5em;
                    color: $color_text;
                    padding: 30px;
                }

                p {
                    font-size: 1.4em;
                    font-weight: bolder;
                    color: white;
                    text-align: center;
                }
            }           
        }

        .container_front, .container_back, .container_bdd {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 30px;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 10px;
                
                box-shadow: 2px 3px 10px rgba(0,0,0,.75);
                border-radius: 4px;
                opacity: .8;
                width: 140px;
                height: 140px;

                display: flex;
                justify-content: center;
                align-items: center;

                transition: .3s ease-in-out;
                    
                    &:hover {
                        transform: scale(1.1);
                        box-shadow: 4px 6px 12px rgba(0,0,0,.75);

                        .titre {
                            height: 70%;
                            width: 100%;
                            font-size: 1.8em;
                            font-weight: bold;
                            background: linear-gradient(150deg, $color_light, $color_dark );
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            opacity: 0.9;
                            bottom: 0;
                            color: $color_text;
                            padding-top: 10px;
                            box-shadow: 2px 3px 10px rgba(0,0,0,.75);
                            text-shadow: 1px 1px 1px black;
                        }

                        .titre.php_post {
                            font-size: 1.3em;
                        }
                    }
                
                img { 
                    width: 100%;
                    padding: 3px;                  
                }

                .titre {
                    position: absolute;
                    margin: auto;
                    opacity: 0;
                    transition: 0.3s ease-in-out;
                    bottom: -40%;
                }

                .java {
                    padding: 12px 36px;
                }

                .css {
                    padding: 26px 22px !important;
                }
            }
        }

        .container_formations {
            display: flex;
            justify-content: center;
            flex-direction: column;

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                border-radius: 4px;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
                margin: 10px;

                img {
                    height: 120px;
                    padding: 10px !important;
                }

                p {
                    font-size: 1.4em;
                    padding: 20px 10px;
                    text-align: center;
                }

                span {
                    font-size: 1em;
                    color: white;
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
                    padding: 5px 15px;
                    width: 100%;
                    text-align: center;
                }
            }
        }

        .container_publication {
            margin-top: 25px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            p {
                color: $color_text;
                font-size: 1.6em;
            }       
        
            .titre {
                color: black;
                font-size: 1.4em;
                font-weight: bolder;
            }

            .auteurs {
                color: $color_dark;
                font-size: 1.2em;
            }
        
            .savoir_plus_publication_container {
                display: flex;
                justify-content: flex-end;
                margin: 10px;
                .savoir_plus_publication {
                    color: $color_text;
                    background: $color_dark;
    
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $color_text;
                    }
                }
            }
        }

        .container_realisations {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .realisation {
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
                border-radius: 4px;
                padding: 20px;
                margin: 10px;
                background: linear-gradient(150deg,#289bc2, #279cc4);



                h4 {
                    text-transform: uppercase;
                    color: $color_text;
                    margin-bottom: 20px;
                    letter-spacing: .2em;
                    font-weight: 700;
                    font-size: 1.6em;
                }

                img {
                    width: 100%;
                }

                p {
                    color: $color_text;
                    font-size: 1.4em;
                    margin-top: 20px;
                }
                .savoir_plus_realisation_container {
                    display: flex;
                    justify-content: flex-end;
                    margin: 10px;
                    width: 100%;

                    .savoir_plus_realisation {
                        color: $color_text;
                        background: $color_dark;
        
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $color_text;
                        }
                    }
                }
            }
        }
    }
}

footer {
    height: 80px;
    background: $color_dark;
}

@media screen and (min-width: 321px) {
}

@media screen and (min-width: 600px) {
    main {  
        .container_competences {
            flex-direction: row !important;
        } 

        .container_formations {
            div {
                flex-direction: row !important;
                position: relative;
                margin: 15px !important;
                img {
                    padding: 4px;
                }

                p {
                    text-align: left !important;
                }

                span {
                    right: 14px;
                    bottom: -11px;
                    position: absolute;
                    width: auto !important;
                }
            }
        }
    } 
}

@media screen and (min-width: 990px) {
    main {
        .introduction {
        
            flex-direction: column !important;
            padding-top: 180px;
            padding-bottom: 80px;

            .presentation_portrait {
                display: flex;
                flex-direction: row;
                margin-bottom: 40px;
                
                .presentation {
                    order: 1;
                    margin: auto;
                    h1 {
                        font-weight: 800;
                        font-size: 4em;
                        text-shadow: rgba(0,0,0,.75) 1px 1px;  
                    }
            
                    h2 {
                        font-weight: 600;
                        font-size: 3.6em;
                        text-shadow: rgba(0,0,0,.75) 1px 1px;  
                        position: initial;
                    }

                    span {
                        position: absolute;
                        bottom: -1em;
                        font-size: 1.4em;
                        color: $color_text;            
                    }
                }
            }            
        } 
        
        .infos_personnelles {
            box-shadow: 3px 4px 12px rgba(0,0,0,.75);
            border-radius: 5px;

            .container_infos_personnelles {
                width: 90%;
                margin: auto;
            }
        }  

        .container_realisations {
            display: flex;
            flex-direction: row !important;
        } 
    }
}

@media screen and (min-width: 1023px) {
    header {
        nav {
            .menu {
                display: none;
            }

            .logo {
                margin: 0px 0px 0px 15px;
            }

            .nav_menu {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                list-style: none;
                padding: 0;
                margin: 0 15px;

                li {
                    color: $color_text;
                    font-size: 1.4em;
                    font-weight: 800;
                    padding: 13px;
                    margin: 2px;
                    color: $color_text;
                    opacity: 0.75;
                    transition: 0.3s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.12);
                        color: $color_text;
                        opacity: 1;
                    }

                    a {
                        color: $color_text;
                    }
                }

                li.portrait {
                    opacity: 1 !important;
                    img {
                        max-height: 45px;
                        border-radius: 50%;
                    } 
                }
            }
        }
    } 
}