@import '../styles.scss';

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: $color_light;
    border-bottom: 2px solid grey;

    nav {
        color: $color_text;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo, .menu, .close{
            color: $color_text;
            font-size: 2em;
            padding: 12px 6px;
            text-shadow: rgba(0,0,0,.75) 2px 2px;   
            cursor: pointer;
        }

        .logo {
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu, .close {
            font-weight: bold;
            font-size: 2.5em;

            transition: .3s ease-in-out;
            &:hover {
                transform: scale(1.12);
            }
        }

        .menu:before {
            content: 'menu';
        }

        .close:before {
            content: 'close';
        }

        .nav_menu {
            display: none;
        }
    }

    .nav_menu_mobile.fade {
        right: -100%;
     }

    .nav_menu_mobile {
        background: linear-gradient(150deg, $color_light, $color_dark );
        z-index: 1000;
        width: 60vw;
        position: fixed;
        top: 0;
        right: 0;
        box-shadow: 3px 4px 12px rgba(0,0,0,.75);
        transition: .5s ease-in-out;

        .close {
            font-size: 2.5em;
            color: $color_text;
            padding: 10px 20px;
            text-shadow: rgba(0,0,0,.75) 2px 2px;
            transition: 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                opacity: 1;
            }
        }

        .portrait {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 70px;
            img {
                max-width: 100px;
                border-radius: 50%;
            }

            h2 {
                margin-top: 5px;
                color: $color_text;
            }
        }

        ul {
            padding: 0px;
            list-style: none;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0px 0px 25px;
            
            li {
                color: $color_text;
                font-size: 1.4em;
                font-weight: 600;
                padding: 13px;
                margin: 2px;
                color: $color_text;
                opacity: 0.75;
                transition: 0.3s ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: scale(1.12);
                    color: $color_text;
                    opacity: 1;
                    text-shadow: rgba(0,0,0,.75) 1px 2px;
                }
            }
        }

        .reseaux {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-bottom: 30px;

            a {
                .linkedinin, .github {
                    font-size: 2em;
                    color: #363d48;
                    opacity: 0.8;
                    margin: 8px;  
                    transition: .3s ease-in-out;    
                }
                transition: .3s ease-in-out;
                &:hover {
                    transform: scale(1.2);
                    .linkedinin, .github {
                        color: $color_text;
                    }
                }
            }
        }
    }
}

main {
    min-height: 100%;
    background: $color_text;
    margin-top: 80px;
    padding-top: 30px;

    .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
       .portrait {
           margin: 10px;
           order: 2;

           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           
           img {
               max-width: 180px;
               border-radius: 50%;
               transition: .7s ease-in-out;

               &:hover {
                    transform: rotateZ(360deg) rotateX(360deg) rotateY(-180deg) scaleX(1.2)  scaleY(1.2) scaleZ(1.2) ;
                    background-color: aqua;
                    box-shadow: -8px 8px 12px rgba(0, 0, 0, 0.75);
               }
           }
           .reseau {
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                a {
                    .linkedinin, .github {
                        font-size: 2em;
                        color: $color_light;
                        opacity: 0.8;
                        margin: 8px;  
                        transition: .3s ease-in-out;    
                    }
                    transition: .3s ease-in-out;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
           }   
       } 

       .presentation {
           order: 1;
            h1 {
                font-weight: 800;
                color: $color_light;
                font-size: 3.5em;
                text-shadow: rgba(0,0,0,.75) 1px 1px;  
            }
    
            h2 {
                font-weight: 600;
                color: grey;
                font-size: 3.2em;
                text-shadow: rgba(0,0,0,.75) 1px 1px;  
            }
       }
    }

    /////
    .container_headline_section[_ngcontent-yyh-c10] {
        background: pinks;
        padding: 45px 25px 35px;
        font-family: Poppins,sans-serif;
    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .container_headline_section[_ngcontent-yyh-c10] .headline_section[_ngcontent-yyh-c10] .headline_first[_ngcontent-yyh-c10] {
        text-transform: uppercase;
        color: $color_dark !important;
        margin-bottom: 0;
        letter-spacing: .2em;
        font-weight: 700;
    }

    .container_headline_section[_ngcontent-yyh-c10] .headline_section[_ngcontent-yyh-c10] h2[_ngcontent-yyh-c10] {
        font-size: 2rem;
        margin-bottom: .5rem;
        font-family: Poppins,sans-serif;
        font-weight: 700;
        line-height: 1.3;
        color: #000;
        text-align: left;
    }

    .background_linear {
        background: linear-gradient(150deg, $color_light, $color_dark );
        width: 100% !important;
    }

    .height_500 {
        height: 500px;
    }

    .height_400 {
        height: 400px;
    }

    .height_250 {
        height: 250px;
    }

    


    /////

}

footer {
    height: 80px;
    background: $color_dark;
}

@media screen and (min-width: 321px) {
    

}

@media screen and (min-width: 425px) {
    main {
        .introduction {
            //background: red;
            .presentation {
                order: 1;
                h1 {
                    font-weight: 800;
                    color: $color_light;
                    font-size: 4em;
                    text-shadow: rgba(0,0,0,.75) 1px 1px;  
                }
        
                h2 {
                    font-weight: 600;
                    color: grey;
                    font-size: 3.6em;
                    text-shadow: rgba(0,0,0,.75) 1px 1px;  
                }
            }
        }       
    } 
}

@media screen and (min-width: 990px) {
    main {
        .introduction {
        
            flex-direction: row !important;
            .presentation {
                order: 1;
                h1 {
                    font-weight: 800;
                    color: $color_light;
                    font-size: 4em;
                    text-shadow: rgba(0,0,0,.75) 1px 1px;  
                }
        
                h2 {
                    font-weight: 600;
                    color: grey;
                    font-size: 3.6em;
                    text-shadow: rgba(0,0,0,.75) 1px 1px;  
                }
            }
        }       
    } 
}

@media screen and (min-width: 1023px) {
    header {
        nav {
            .menu {
                display: none;
            }

            .logo {
                margin: 0px 0px 0px 15px;
            }

            .nav_menu {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                list-style: none;
                padding: 0;
                margin: 0 15px;

                li {
                    color: $color_text;
                    font-size: 1.4em;
                    font-weight: 800;
                    padding: 13px;
                    margin: 2px;
                    color: $color_text;
                    opacity: 0.75;
                    transition: 0.3s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.12);
                        color: $color_text;
                        opacity: 1;
                    }
                }

                li.portrait {
                    opacity: 1 !important;
                    img {
                        max-height: 45px;
                        border-radius: 50%;
                    } 
                }
            }
        }

    } 
}